.env
/public/build.js
.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/src/database/_mdb_catalog.wt
/src/database/collection-0--3219083902574827573.wt
/src/database/collection-2--3219083902574827573.wt
/src/database/collection-4--3219083902574827573.wt
/src/database/connection.js
/src/database/index-1--3219083902574827573.wt
/src/database/index-3--3219083902574827573.wt
/src/database/index-5--3219083902574827573.wt
/src/database/index-6--3219083902574827573.wt
/src/database/mongod.lock
/src/database/sizeStorer.wt
/src/database/storage.bson
/src/database/WiredTiger
/src/database/WiredTiger.lock
/src/database/WiredTiger.turtle
/src/database/WiredTiger.wt
/src/database/WiredTigerHS.wt
/src/database/journal/WiredTigerLog.0000000002
/src/database/journal/WiredTigerPreplog.0000000001
/src/database/journal/WiredTigerPreplog.0000000002
/src/database/diagnostic.data/metrics.2022-01-14T07-22-50Z-00000
/src/database/diagnostic.data/metrics.2022-01-14T08-04-42Z-00000
/src/database/diagnostic.data/metrics.interim
